<div class="container text-center">
<h1>WELCOME TO GIT-SEARCH</h1>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRqL7rIo8nFCMweTs_1cQTHEF3Bqc7JQ0fY0rSPB-zwBj53f3hF">

<!-- <div class="container"> -->
  <form (keyup) = "call_profile()" #userForm = 'ngForm' class="search-form" class="card-panel teal lighten-2" >
    <div class="form-group">
      <br>
      <input type="text" class="form-control" placeholder="Enter username" id="form" [(ngModel)] = "username" name="username" (keyup)="call_profile()">
    </div>
  </form>
    <div class="prof-tab">
    <h3>PROFILE</h3>
    <div class="prof" *ngIf="profile">
    <br>
    <img width="200" src= "{{profile.avatar_url}}"  alt="Profile Image"> <br>
    <div class="deets">
    {{profile.name}} <br>
    <br>
    @{{profile.login}}<br>
    <br>
    <button class="btn btn-default btn-sm" >Public Repos: {{profile.public_repos}}</button><br><br>
    <button class="btn btn-primary btn-sm" >Followers: {{profile.followers}}</button><br><br>
    <button class="btn btn-success btn-sm" >Following: {{profile.following}}</button><br><br>
    <p><a href="{{profile.html_url}}" class="btn btn-sm btn-success">View profile on Github</a></p><br><br>
    </div>
    </div>
    </div>

    <div class="repo-tab">
    <h3>REPOSITORIES</h3>
    <div class="repo-details" *ngFor="let repos of repos" index= i>
    <p>{{repos.name}} </p>
    <p>{{repos.description}}</p>
    <p>{{repos.created_at|date}}</p>
    <p>{{repos.updated_at|date}}</p>
    <a href="{{repos.html_url}}">View this project on Github</a>
    <a href="{{repos.homepage}}">View Live Page</a>
    </div>
  </div>
</div>
